<div class="home-styling">
    <div class="inner-div">
        <div><h1>Cinema Ironhack</h1></div>
        <div><a href="/movies" class="a-styles" >Check the Movies!</a> </div>
     
    </div>
    
</div>
